---
const backgroundImage = "/fondo_hero.webp"; // Ajusta la ruta de la imagen según corresponda

---
<section id="inicio" class="relative h-screen bg-cover bg-center" style={`background-image: url(${backgroundImage});`}>
  <div class="absolute inset-0 bg-black/40 dark:bg-black/60 flex flex-col justify-center items-center text-center text-white p-4 transition-colors">
    <h1 class="text-4xl md:text-5xl font-bold mb-4">
      PLACAS SOLARES EN CASTELLÓN DE LA PLANA
    </h1>
    <p class="text-lg md:text-2xl mb-8">
      ¡Ahorra hasta un 70% en tu factura! Y todo ello gracias a la instalación de placas solares.
    </p>
    <a href="#contacto" class="bg-yellow-500 text-white py-3 px-6 rounded-full hover:bg-yellow-600 transition">
      SOLICITA ESTUDIO
    </a>
  </div>
</section>
