---
---

<section id="proyectos" class="py-16 bg-white dark:bg-gray-900">
    <div class="container mx-auto px-4 text-center">
      <h2 class="text-4xl font-bold mb-6 text-gray-900 dark:text-white">Proyectos de Ingeniería</h2>
      <p class="text-lg mb-6 text-gray-700 dark:text-gray-300">
        Realizamos proyectos de ingeniería, desde la concepción hasta la puesta en marcha, pasando por la planificación, la ejecución y el control de los mismos.
      </p>
      <ul class="list-disc list-inside text-left text-gray-700 dark:text-gray-300 max-w-3xl mx-auto">
        <li>Estudios eléctricos</li>
        <li>Movilidad eléctrica</li>
        <li>Energía eléctrica</li>
      </ul>
      <h3 class="text-2xl font-bold mb-4 text-gray-900 dark:text-white">Tramitaciones</h3>
      <ul class="list-disc list-inside text-left text-gray-700 dark:text-gray-300 max-w-3xl mx-auto">
        <li>Permiso de obra</li>
        <li>Expediente distribuidora eléctrica</li>
        <li>Ayudas ayuntamiento/subvenciones</li>
        <li>Certificados energéticos</li>
      </ul>
    </div>
  </section>
  