---
import ServiceCard from "./ServiceCard.astro";
---

<section id="servicios" class="py-16 bg-lightBackground dark:bg-darkBackground relative overflow-hidden">
  <div class="absolute inset-0 bg-fixed bg-center bg-cover" style="background-image: url('./'); transform: translateZ(0) scale(1.1);"></div>
  <div class="container mx-auto text-center max-w-7xl px-4 relative z-10">
    <h2 class="fade-in text-4xl font-semibold mb-12 text-primary dark:text-secondary">Nuestros Servicios</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
      <ServiceCard title="Instalación Eléctrica" description="Realizamos instalaciones eléctricas seguras y eficientes, cumpliendo con las normativas vigentes y asegurando un suministro estable y fiable para tu hogar o empresa." backgroundImage="./projects/instalacion_electrica.jpg" />
      <ServiceCard title="Instalación Fotovoltaica" description="Instalamos sistemas fotovoltaicos duraderos, optimizados para maximizar la captación solar y reducir tu dependencia de la red eléctrica." backgroundImage="./projects/fotovoltaica.jpeg" />
      <ServiceCard title="Instalación Eléctrica Residencial" description="Especialistas en instalaciones eléctricas residenciales, garantizando la seguridad y eficiencia en cada proyecto, desde iluminación hasta telecomunicaciones." backgroundImage="./projects/residencial.jpg" />
      <ServiceCard title="Instalación Placas Solares" description="Reduce tu factura de electricidad y aumenta el valor de tu propiedad con una instalación de placas solares personalizada para tus necesidades." backgroundImage="./projects/fotovoltaica.jpeg" />
      <ServiceCard title="Instalación Eléctrica Industrial" description="Ofrecemos soluciones eléctricas industriales integrales, adaptadas a la demanda de tu empresa, cumpliendo con los más altos estándares de seguridad." backgroundImage="./projects/industrial.jpg" />
      <ServiceCard title="Instalación Recarga Vehículo Eléctrico" description="Instalamos puntos de recarga para vehículos eléctricos, gestionando todo el proceso desde la legalización hasta la instalación del equipo." backgroundImage="./projects/vehiculos.jpg" />
      <ServiceCard title="Instalación Aislada Red" description="Soluciones energéticas para ubicaciones aisladas, con instalaciones solares que te permiten ser completamente autosuficiente y independiente de la red." backgroundImage="./projects/aislada.png" />
      <ServiceCard title="Boletín Eléctrico" description="Acreditamos que tu instalación cumple con la normativa vigente, permitiendo su modificación o alta de un nuevo suministro eléctrico." backgroundImage="./projects/boletin.jpg" />
      <ServiceCard title="Legalización Autoconsumo a Red" description="Nos encargamos de registrar y legalizar tu instalación solar para que puedas disfrutar de la compensación de excedentes en tu factura de luz." backgroundImage="./projects/autoconsumo.jpg" />
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const elements = document.querySelectorAll(".fade-in");
    elements.forEach((element, index) => {
      setTimeout(() => {
        element.classList.add("visible");
      }, index * 300); // Delay entre las animaciones de cada elemento
    });
  });
</script>
