---

const testimonials = [
  {
    name: "Alberto Garcia",
    text: "Todo genial!! Desde el primer día que vinieron a la visita de la casa me di cuenta que no eran como el resto de empresas, eso hizo que me decantará por ellos e instale placas solares en mi vivienda. Profesionales, se encargan absolutamente de todos los trámites, muy atentos e implicados en su trabajo, puntuales, cumplen con lo prometido...en definitiva, 100% recomendable!!!",
    rating: 5,
  },
  {
    name: "David Catalan",
    text: "Muy profesionales, la verdad que estoy muy contento en 4 días he tenido arreglado el problema. Os los aconsejo, muy transparentes.",
    rating: 5,
  },
  {
    name: "Victor Eugenio",
    text: "Muy contento con el trabajo que han hecho. Son una empresa joven y muy profesional que se preocupan por el cliente aconsejando en todo momento lo mejor para nuestro interés.",
    rating: 5,
  },
  {
    name: "Cristian Marginean",
    text: "Alejandro muy profesional. 100%.",
    rating: 5,
  },
  {
    name: "Lledo Domenech Arpa",
    text: "Impresionante trabajo y muy buena calidad. Gente muy agradable se nota que aman su trabajo. Enseguida me aclararon todas mis dudas y sin dudas fue mi mejor decisión. Todas las licencias y ayudas se encargaron ellos y no tuve que hacer nada. Lo recomiendo 100%.",
    rating: 5,
  },
  {
    name: "Mireia Mollar",
    text: "¡Excelente en todos los sentidos!",
    rating: 5,
  },
  {
    name: "Jesús Saiz",
    text: "Empresa recién creada pero los conozco de antes y puedo decir que son gente muy competente y aplicada.",
    rating: 5,
  },
  {
    name: "Marta Blanco",
    text: "Encantadores y súper profesionales! 100% recomendables.",
    rating: 5,
  },
  {
    name: "María Giménez",
    text: "Gente de confianza, te explican todo lo que no entiendes con gran paciencia. Sin duda aman su trabajo y se ve en él reflejada su dedicación.",
    rating: 5,
  },
];

---

<section id="testimonios" class="py-20 bg-lightBackground dark:bg-darkBackground">
  <div class="container mx-auto text-center max-w-7xl px-4">
    <h2 class="text-4xl font-semibold mb-12 text-blue-600">Qué Dicen Nuestros Clientes</h2>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {testimonials.map((testimonial) => (
        <div class="bg-lightBackground dark:bg-darkBackground p-6 rounded-lg shadow-lg hover:shadow-2xl transition transform hover:-translate-y-2">
          <p class="text-lg italic mb-4 text-lightText dark:text-darkText">"{testimonial.text}"</p>
          <div class="text-left">
            <h3 class="text-xl font-semibold text-lightText dark:text-darkText">{testimonial.name}</h3>
            <p class="text-yellow-500">
              {"★".repeat(testimonial.rating)}
            </p>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

<style>
  .bg-gray-100 {
    background: #f7fafc;
  }
  
</style>
